
<div class="article-with-toc-container">
  <div class="article-content-wrapper">
    <article class="default">
      <header class="headline">
        {{- partial "content-header.html" . }}
      </header>
    {{ partial "heading-pre.html" . }}{{ partial "heading.html" . }}{{ partial "heading-post.html" . }}

    {{ partial "article-content.html" . }}
      <footer class="footline">
        {{- partial "content-footer.html" . }}
        {{- partial "share.html" . }}
      </footer>
    </article>
  </div>
  <aside class="right-toc-sidebar">
    <h3>Contents</h3>
    {{ .TableOfContents }}
  </aside>
</div>