<div id="comments" style="margin:2em 0;">
<script src="https://giscus.app/client.js"
        data-repo="shailesh1729/shailesh1729.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyNTM0Njc0OA=="
        data-category="General"
        data-category-id="DIC_kwDOAYLCvM4Cv6s9"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
</div>
