
<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XJSRMENLM4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-XJSRMENLM4');
</script>

{{- $assetBusting := partialCached "assetbusting.gotmpl" . }}

{{- $filePath := "css/custom.css" }}
{{- with (resources.Get (printf "/%s" $filePath)) }}
    <link href="{{ .RelPermalink }}{{ $assetBusting }}" rel="stylesheet">
{{- else }}
  {{- if (fileExists (printf "/static/%s" $filePath)) }}
    <link href="{{ printf "%s" $filePath | relURL }}{{ $assetBusting }}" rel="stylesheet">
  {{- end }}
{{- end }}

{{- $filePath := "js/custom.js" }}
{{- with (resources.Get (printf "/%s" $filePath)) }}
    <script src="{{ .RelPermalink }}{{ $assetBusting }}" defer></script>
{{- else }}
  {{- if (fileExists (printf "/static/%s" $filePath)) }}
    <script src="{{ printf "%s" $filePath | relURL }}{{ $assetBusting }}" defer></script>
  {{- end }}
{{- end }}
